@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@layer base {
  html {
    scroll-behavior: smooth;
    @apply text-gray-300;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5, 
  a,
  b,
  button{
    @apply text-white;
  }

  .welcome a{
    @apply text-[#151d1f];
  }

  .welcome #secondCTA a{
    @apply text-white;
  }
  
  p{
    @apply tracking-wide;
  }
}


#tsparticles{
  width:100%;
}

canvas{
  background-size: cover;
}


@keyframes shimmer {
  100%{
    left: 100%;
  }
  0%{
    right: 0%;
  }
}

.aboutHeader, .projectsHeader {
  position: relative;
  width: 100%;
  overflow: hidden; 
}

.aboutHeader::before, .projectsHeader::before{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.4) 40%, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0.4) 90%, transparent 100%);
  animation: shimmer 5s infinite ease-out;
  animation-delay: 5s;
}



.tabs {
  display: flex;
}

.tab {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
}

.tab-content {
  display: none;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  margin-top: -1px; /* Align with tab border */
}

.tab-content.active {
  display: block;
}

.tab.active{
    border: 1px solid #ccc;
    background-color: #8D998A;
}


.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
  animation-iteration-count: 1;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}