@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@layer base {
  html {
    scroll-behavior: smooth;
    @apply text-white;
}
}


#tsparticles{
  width:100%;
}

canvas{
  background-size: cover;
}

