@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@layer base {
  html {
    scroll-behavior: smooth;
    @apply text-gray-300;
  }
  
  a,
  button{
    @apply text-white;
    @apply tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5{
    @apply tracking-wide;
    @apply text-gray-300;
  }

  .projects h1,
  .projects h2,
  .projects h3{
    @apply text-white;
  }

  .welcome a{
    @apply text-[#151d1f];
  }

  .welcome #secondCTA a{
    @apply text-white;
  }
  
  p{
    @apply tracking-wide;
  }

  footer nav a{
    @apply text-[#d1dbd5];
  }
}


#tsparticles{
  width:100%;
}

canvas{
  background-size: cover;
}



.tabs {
  display: flex;
}

.tab {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
}

.tab-content {
  display: none;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  margin-top: -1px; /* Align with tab border */
}

.tab-content.active {
  display: block;
}

.tab.active{
    border: 1px solid #ccc;
    background-color: #8D998A;
}


.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
  animation-iteration-count: 1;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* code inspiraton from: https://www.julienthibeaut.xyz/blog/create-shine-effect-on-card-with-tailwind-css */

.shine {
  --shine-deg: 45deg;
  position: relative;
  overflow: hidden;
  border: 1px solid #0a0a19;
  background-color: #0a0a19;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  background-repeat: no-repeat;
  background-position: -100% 0, 0 0;

  background-image: linear-gradient(
    var(--shine-deg),
    transparent 20%,
    transparent 40%,
    rgb(68, 68, 68, 0.2) 50%,
    rgb(68, 68, 68, 0.2) 55%,
    transparent 70%,
    transparent 100%
  );

  background-size: 250% 250%, 100% 100%;
  animation: shineAnimation 3.5s infinite linear;
}

@keyframes shineAnimation {
  0% {
    background-position: 200% 0, 0 0;
  }
  100% {
    background-position: -200% 0, 0 0;
  }
}

/* /////////////////////////////////////////////////////////////////// */


